/* Fundo escuro */
body {
  background-color: #222;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}

/* Título principal */
h1 {
  color: #f8f9fa;
  font-size: 2.5rem;
  margin-bottom: 10px;
}

/* Subtítulo */
h4 {
  color: #d3d3d3;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

/* Cards com fundo branco e borda arredondada */
.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 15px;
  width: 250px;
  display: inline-block;
  vertical-align: top;
}

/* Imagem dos produtos */
.imagem-produto {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

/* Texto dos cards */
.card h4 {
  color: #333;
  margin-bottom: 10px;
}

.card small {
  color: #666;
}

/* Botão pequeno e estilizado */
.btn-pequeno {
  padding: 5px 10px;
  font-size: 0.9rem;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
}

.btn-pequeno:hover {
  background-color: #218838;
}

/* Estilo do contêiner dos cards */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Definir altura do carrossel */
.carousel {
  max-width: 100%;
  margin: 0 auto;
  border-radius: 10px;
}

.carousel-item img {
  height: auto; /* Deixa a altura automática */
  max-height: 300px; /* Defina a altura máxima que deseja */
  object-fit: contain; /* Faz com que a imagem se ajuste ao contêiner sem cortar partes */
  width: 100%; /* Para que a largura cubra o contêiner */
}
